<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button  (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Micro-PKI</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-drawer-container class="page-content" autosize hasBackdrop="false">
  <mat-drawer #drawer class="sidenav" mode="over">
    <mat-list>
      <mat-list-item>
        <a href="csr" mat-button fxFlex>
          CSR
        </a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
